<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <!--<system.serviceModel>
    <services>
      <service name="UROCareServices.ServicesLayer.UserService">
        --><!-- Service Endpoints --><!--
        --><!-- Unless fully qualified, address is relative to base address supplied above --><!--
        <endpoint address="" 
                binding="webHttpBinding"
                contract="UROCareServices.ServiceContracts.IUserService" behaviorConfiguration="webBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        --><!-- Metadata Endpoints --><!--
        --><!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --><!-- 
        --><!-- This endpoint does not use a secure binding and should be secured or removed before deployment --><!--
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          --><!-- To avoid disclosing metadata information, 
          set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="false"/>
          --><!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>-->
  
<system.serviceModel>
   <services>
        <service name="UROCareServices.ServicesLayer.UserService">
                <endpoint address=""
                                       binding="webHttpBinding"
                                       contract="UROCareServices.ServiceContracts.IUserService"
                                      behaviorConfiguration="web"></endpoint>
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:10201"/>
            </baseAddresses>
          </host>
          </service>
   </services>
   <behaviors>
          <serviceBehaviors>
              <behavior name="serviceBehavior">
                  <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
                       <serviceDebug includeExceptionDetailInFaults="false"/>
            </behavior>
            <behavior name="Metadata">
              <serviceMetadata httpGetEnabled="true" />
            </behavior>
          </serviceBehaviors>
          <endpointBehaviors>
              <behavior name="web">
                
                    <webHttp/>
               </behavior>
          </endpointBehaviors>
     
  </behaviors>
   <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
</system.serviceModel>

</configuration>
